# build output
dist/
dist-ssr
# generated types
.astro/

# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# environment variables
.env
.env.production
*.local

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# cursor
.cursor/

# vscode
.vscode/*
!.vscode/extensions.json

# Windows-specific files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# starwind components

README.md
# Local Netlify folder
.netlify
deno.lock

playground/
